.expense {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 100px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title title"
    "amount icons";
  padding: 0.25rem;
  border: 1px solid $gray;
  background-color: darken(#fff, 5%);
  &:not(:first-of-type) {
    border-top: none;
  }
  @include breakpoint(tablet) {
    border-top: none;
    grid-template-columns: 90px 1fr 1fr 150px 125px;
    grid-template-rows: 1fr;
    grid-template-areas: "date title note amount icons";
  }
  &:nth-child(even) {
    background-color: #fff;
  }
  &__title {
    align-self: center;
    text-align: center;
    grid-area: title;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    padding: 7px 0;
    @include breakpoint(tablet) {
      border-right: 1px solid $gray;
      border-left: 1px solid $gray;
    }
  }
  &__note {
    display: none;
    text-align: left;
    @include breakpoint(tablet) {
      grid-area: note;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      padding: 0.25rem;
      color: $l-text;
    }
  }
  &__date {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    font-style: italic;
    font-size: 0.75rem;
    color: lighten($l-text, 25%);
    @include breakpoint(tablet) {
      position: static;
      align-self: center;
      grid-area: date;
      font-size: 0.875rem;
    }
  }

  &-amount {
    align-self: center;
    text-align: right;
    padding: 0.25rem;
    grid-area: amount;
    margin-right: 4px;
    font-family: $numeric;
    overflow: hidden;
    @include breakpoint(tablet) {
      border-left: 1px solid $gray;
    }
  }

  &-icons {
    grid-area: icons;
    align-self: center;
    text-align: center;
    padding: 0.25rem;
    border-left: 1px solid $gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-edit {
      width: 24px;
      height: 24px;
      background-image: url("../images/edit.svg");
      background-position: center;
      background-size: 24px 24px;
      cursor: pointer;
    }
    &-delete {
      @extend .expense-icons-edit;
      background-image: url("../images/delete.svg");
      background-position: center;
      background-size: 24px 24px;
    }
    &-copy {
      @extend .expense-icons-edit;
      background-image: url("../images/copy.svg");
      background-position: center;
      background-size: 24px 24px;
    }
    &-modal {
      clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 80%,
        75% 80%,
        50% 100%,
        25% 80%,
        0 80%
      );
      background-color: #000;
      color: white;
      position: relative;
      width: 100px;
      height: 60px;
      top: -60px;
      left: -38px;
      padding: 0.25rem;
    }
  }
}
