.filter {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 385px;
  @include breakpoint(tablet) {
    max-width: none;
  }

  legend {
    font-style: italic;
    margin-left: .25rem;
    color: $l-text;
  }
  section {
    min-width: 307px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    @include breakpoint(tablet) {
      margin: 0;
    }
    label {
      margin-right: .5rem;
      color: $l-text;
    }
  }
  &-text {
    padding: .25rem 1rem;
    background-color: $l-gray;
    margin-right: 1rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
  &-select {
    padding: .25rem;
    color: $l-blue;
  }

  .DateRangePicker {
    display: inline-block;
  }

}
