.filter {
  background-color: #fff;
  border: 2px solid $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 385px;
  border-radius: 0.25rem;

  @include breakpoint(tablet) {
    max-width: none;
  }
  @include breakpoint(laptop) {
    padding: 1rem 2rem;
  }

  legend {
    font-style: italic;
    margin-left: 0.25rem;
    color: $l-text;
  }
  section {
    min-width: 307px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(tablet) {
      margin: 0;
    }
    .select-label {
      margin-right: 0.5rem;
      color: #9d9d9d;
      font-size: 0.75rem;
    }
  }

  &-select {
    padding: 0.25rem;
    color: $l-text;
    border: none;
    border-bottom: 2px solid $gray;
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  color: $l-text;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-right: 1rem;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 14px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9d9d9d;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
