* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 1rem;
}

a {
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

.is-active {
  color: red;
}
