// Dark Theme Colors
$d-darkText: #27273d;
$d-text: #2e2e48;
$d-lightText: #41415c;
$d-gray: #a8a8c7;
$d-orange: #ff703a;
$d-pink: #ff4167;
$d-green: #5dd267;

// Light Theme Colors

$l-lightGray: #eef2f3;
$l-gray: #e8ecef;
$l-darkGray: #b2b6b9;
$l-text: #32323d;
$l-darkText: #25252d;
$l-blue: #5773ff;

// Form

$primary: #8ed6ee;
$secondary: #85f5b9;
$white: #fff;
$gray: #dbdbdb;

// Fonts
$numeric : 'Saira', sans-serif;
$soft: "Ubuntu", sans-serif;
